.none{

	display: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
padding: 1rem;

}
.logo-layout>a{
font-size: 1.8rem;
font-weight: 600;

}


.navigation{
	display: flex;
}
.navigation>li{
	padding:0 1rem;
}
.navigation>li>a{
	font-size: 1rem;
}
.navigation>li>a:hover{
	border-bottom: 3px solid var(--black);
}
.menu-icon{
	display: flex;
	flex-direction: column;

}

.home-hero{
	
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap-reverse;
padding: 1rem;
background-color: white ;
min-height: 100vh;
width: 100%;
    background-color:var(--cyan) ;
    background-image:  url("/assests/background-top.svg")
 ; 
    background-position: bottom 45vh right 45vw, top 45vh left 45vw;
    background-repeat: no-repeat, no-repeat;

}
.left{
	
}

.left-content>h2{
font-size: 3rem;
		padding-top: 1rem;

}
.left-content{
	display: flex;
	justify-content: flex-start;
}
.waving-hand{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem .5rem;
	font-size: 1.8rem;

}
@keyframes shake{
	0%{
		transform: skewX(-15deg);
	}
	25%{
		transform: skewX(15deg);
	}
50%{
		transform: skewX(-15deg);
	}
75%{
		transform: skewX(0deg);
	}
100%{
		transform: skewX(0deg);
	}


}
.left>h4{
	font-weight: 400;
	font-size: clamp(1rem, 4vw, 1rem);
	color: #696969;
		padding-top: .25rem;
		line-height: 1.5;
width: calc(5em * 5);
}
.left>button{
	border: 2px solid var(--black);
	background-color: var(--black);
	color:var(--white);
	padding: .55rem;
	margin-top: 1rem;
	border-radius: .2rem;
}
.left>button:hover{
	color: var(--black);
background-color: transparent;}
.stack{
	margin-top: 1rem;}
.stack>h5{
	display: inline-block;
	font-size: 1rem;
	border-bottom: 2px solid #696969;

}
.right{

	display: flex;
}
.image-container{
	height: fit-content;
}
.image-container>img{
	width: 260px;
	height: 300px;
	max-width: 100%;
	border-radius: 100%;
	border: 1px solid var(--gray);
	animation: changeRadius 5s alternate infinite;

}
.stack-icons{
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.stack-icons>img{
	width:80px;

}
.stack-icons>img:nth-child(1){
	padding-right: 0;
}
.stack-icons>img:nth-child(2){
	height: 71.5px;
}
.stack-icons>img:nth-child(3){
	height: 71.5px;
}



#about{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;
	min-height: 100vh;
}
#about>h3, #portfolio>h3, #contact>h3{
	font-size: 1.2rem;
	color: var(--black);
	padding-top:2rem  ;
	display: inline-block;
	padding: .5rem 0;
	border-bottom: 2px solid var(--gray);

}
#about>h6, #portfolio>h6, #contact>h6{
		padding-top:1rem ;
		font-size: 1.4rem;

}
#about>img{
	width: 300px;
}
.about-content > p{
	font-size: 1.2rem;
			padding-top:.5rem ;
			color:#696969;
			line-height: 1.5;

}
.about-content{
	padding-top: .5rem;
	width:650px;
}
#portfolio{
display: flex;
justify-content: center;
flex-direction: column;

align-items: center;
	width: 100%;
	min-height: 100vh;

}
.portfolio-container{
		padding-top: 2rem;
		
}
.portfolio-card{

	width: 425px;
	padding: 1rem;
	border-radius:.5rem;
box-shadow: 0px 2px 4px rgba(0,0,0,.5);
margin: 1rem 0;
}
.portfolio-card:nth-child(1){
	display: flex;
			flex-direction: column;
			


}
.portfolio-card:nth-child(2){

		display: flex;
			flex-direction: column;

}
.portfolio-card:nth-child(2){

		display: flex;
			flex-direction: column;

}
.portfolio-card>img{
max-width: 100%;	height: 500px;
	border-radius:.25rem;
box-shadow: 0px 2px 4px rgba(0,0,0,.5);



}
.portfolio-article{
	padding-top: 1rem;

}
.portfolio-article>h3{
	text-transform: uppercase;
font-size: 1.05rem;
	padding-top: .5rem;
}
.portfolio-article>p{
	font-size: 1rem;
	color:#696969;
		padding-top: .25rem;

}
.portfolio-skills{
	display: flex;
	justify-content:center;
	align-items: center;
	padding: .25rem 0;
}
.portfolio-skills>h3{
font-size: 1rem;
box-shadow: 0px 1px 2px rgba(0,0,0,.5);
padding: 0.5rem;
margin: 0.5rem;
}

#contact{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;
	min-width: 100vh;
    background-image:  url("/assests/background-bottom.svg"); 
    background-position: bottom 45vh right 45vw, top 45vh left 45vw;
    background-repeat: no-repeat, no-repeat;
}
	footer{
		background-color: var(--black);
		color: var(--white);
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
@media (max-width: 800px){
	.home-hero{
		text-align: center;
	}

	
	.left-content>h2{
		font-size: 2.5rem;
	}

	.left>h4{
		padding-top: 1rem;
	}
#about{
	text-align: center;
}
.about-content{
	width: calc(100% - 4rem);
}
.stack-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}
}