.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
min-height: 100vh;}

.loading{
width: 20px;
border-radius: 50%;
aspect-ratio: 1;
background-color: #7E22CE;
animation: skar1 1s infinte alternate,

}
@keyframes a1{
    0%,10%{transform: scale(1)}
    100%{transform: scale(0)}

};


