.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.loader > h3 {
  font-size: 2rem;
}
.loader > h3 > span {
  font-weight: 200;
}
.loader > h6 {
  font-size: 2rem;
  font-weight: 400;
}
.none {
  display: none;
}
@media (max-width: 32em) {
  .loader {
    text-align: center;
  }
}
